{% extends "base.html" %}

{% block content %}
    <h1>Стартовая страница Django проекта!</h1>
    <p>-----------------------------------------------------------------------------------------</p>
    <h3>Статьи за какой год вас интересуют?</h3>

    <a href="http://127.0.0.1:8000/articles/2017/" class="button">2017</a>
    <a href="http://127.0.0.1:8000/articles/2018/" class="button">2018</a>
    <a href="http://127.0.0.1:8000/articles/2019/" class="button">2019</a>
    <a href="http://127.0.0.1:8000/articles/2020/" class="button">2020</a>


{% endblock %}
